display: flex;
flex-direction: column;
width: 98.5%;
height: 96%;
position: absolute;
color: blue;
background-color: lightyellow;
align-items: left;
border: 5px solid black;
margin: 0;
padding: 0px;

//    BLOCK,
//    INLINE,
//    INLINE_BLOCK,
//    FLEX,
//    INLINE_FLEX,
//    GRID,
//    INLINE_GRID,
//    FLOW_ROOT,
