margin: 0;
padding: 0;
display: flex;
flex-direction: column;
flex-grow: 1;
flex-wrap: wrap
color: white;
background-color: white;
border: 2px solid black;
position: relative;
width: 99%;
height: 50%;
bottom: 0;
padding: 5px;

//    BLOCK,
//    INLINE,
//    INLINE_BLOCK,
//    FLEX,
//    INLINE_FLEX,
//    GRID,
//    INLINE_GRID,
//    FLOW_ROOT,
